* {
  margin: 0;
}

body {
  background-color: #5a616f;
  color: white;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__dropdown {
  background-color: #4a4c50;
  font-weight: bold;
}

.app__dropdown .MuiSelect-root {
  color: white !important;
}

.MuiPaper-root {
  background-color: #4a4c50 !important;
  color: white !important;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.title {
  font-size: 80px;
  font-weight: bold;
  color: #f0c701;
  text-transform: uppercase;
  margin-left: 5%;
  margin-bottom: 3%;
  text-align: center;
  width: 100%;
  text-shadow: 3px 3px #2e3034, 4px 4px #2e3034, 5px 5px #2e3034;
}

.app__left {
  flex: 0.8;
}

.app__stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.app__element {
  flex: 1;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.app__element:not(:last-child) {
  margin-right: 20px;
  margin-top: 10px;
}

.app__element:last-child {
  border: 10px solid #edc100;
}

.app__right {
  color: white !important;
  background-color: #4a4c50 !important;
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph {
  flex-grow: 1;
}

.app__graphTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
