.infoBox {
  background-color: #4a4c50 !important;
  flex: 1;
  cursor: pointer;
}

.infoBox--selected {
  border-bottom: 10px solid #66fcf1;
}

.infoBox__cases {
  display: flex;
  flex-direction: row;
  color: #66fcf1;
  font-weight: 600;
  font-size: 18px;
}

.infoBox__title {
  color: #c5c6c7;
  font-size: 16px;
  padding-right: 10px;
}

.infoBox__today {
  color: #c5c6c7 !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  font-weight: bolder !important;
}
