.table {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  color: white;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
  background-color: #0b0c10;
}

.table__cases {
  font-weight: 600;
  color: #66fcf1;
}
